:root {
  --white: #e8e8e6;
  --blackColor:#000;
  --primaryYellowColor: #ffb142;
}
.go-back-button {
  border-radius: 10px;
  color: var(--blackColor);
  padding:10px;
  background-color: var(--primaryYellowColor);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  font-style: italic;
}
.go-back-button:hover {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
}
.go-back-button i {
  color: var(--blackColor);
  font-size: 20px;
}

@media only screen and (min-width:800px) and (max-width: 1200px) {
  .go-back-button {
    padding: 5px;
    font-size: 13px;
  }
  .go-back-button i {
    font-size: 13px;
  }  
}

@media only screen and (min-width:500px) and (max-width:800px) {
  .go-back-button {
    padding: 2px 5px;
    font-size: 10px;
  }
  .go-back-button i {
    font-size: 10px;
  }  
}

@media only screen and (max-width:500px) {
  .go-back-button {
    padding: 2px 5px;
    font-size: 8px;
  }
  .go-back-button i {
    font-size: 8px;
  }  
}