.card-distrubitor-container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, 20%);
  margin-top: -95px;
}
.distubitor-card {
  height: 130px; /***140*/
  width: 95px;/***100*/
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: url("../../assets/spider-solitaire-card-back.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
