:root {
  --white: #e8e8e6;
  --black: #000;
}

.card {
  height: 130px;
  width: 95px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.8);
  margin-top: -95px;
}
.card-back {
  background: url("../../assets/spider-solitaire-card-back.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block !important;
}
.card-back > span {
  display: none;
}
.card-front {
  background-color: var(--white);
  background: url("../../assets/spider-solitaire-club-card.webp") var(--white);
  color: var(--black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  position: relative;
  cursor: pointer;
}
.card-front:active {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.6);
}
.card-front .content-left-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2px;
  left: 5px;
  position: absolute;
  font-size: 17px;
  font-weight: 700;
}
.card-front .content-right-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 2px;
  right: 5px;
  position: absolute;
  font-size: 17px;
  font-weight: 700;
  transform:rotate(180deg);
}
:is(.content-left-top, .content-right-bottom) img {
  width: 13px;
}