:root {
  --white: #e8e8e6;
  --black: #000;
  --primaryYellowColor: #ffb142;
}

.card {
  height: 130px;
  width: 95px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.8);
  position: relative;
  margin-bottom: -6.5vw;
}
.card-back {
  background: url("../../assets/spider-solitaire-card-back.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block !important;
}
.card-back > span {
  display: none;
}
.card-front {
  background-color: var(--white);
  background: url("../../assets/spider-solitaire-club-card.webp") var(--white);
  color: var(--black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  cursor: pointer;
}
.card-front:active {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.6);
}
.card-front .content-left-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2px;
  left: 5px;
  position: absolute;
  font-size: 17px;
  font-weight: 700;
}
.card-front .content-right-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 2px;
  right: 5px;
  position: absolute;
  font-size: 17px;
  font-weight: 700;
  transform:rotate(180deg);
}
:is(.content-left-top, .content-right-bottom) img {
  width: 13px;
}

.highlighted {
  background-color: var(--primaryYellowColor);
}

@media only screen and (min-width:1600px) {
  .card {
    margin-bottom: -4.5vw;
  }
}

@media only screen and (min-width:800px) and (max-width: 1200px) {
  .card {
    height: 90px;
    width: 65px;
    margin-bottom: -6vw;
  }
  .card-front {
    background-size: 22%;
  }
  .card-front .content-left-top {
    font-size: 13px;
    font-weight: 700;
  }
  .card-front .content-right-bottom {
    font-size: 13px;
    font-weight: 700;
    transform:rotate(180deg);
  } 
  :is(.content-left-top, .content-right-bottom) img {
    width: 9px;
  }
}

@media only screen and (min-width:500px) and (max-width:800px) {
  .card {
    height: 65px;
    width: 45px;
    margin-bottom: -6.5vw;
    border-radius: 5px;
  }
  .card-front {
    background-size: 22%;
  }
  .card-front .content-left-top {
    font-size: 10px;
  }
  .card-front .content-right-bottom {
    font-size: 10px;
  } 
  :is(.content-left-top, .content-right-bottom) img {
    width: 7px;
  }
}

@media only screen and (max-width:500px) {
  .card {
    height: 50px;
    width: 35px;
    margin-bottom: -6.5vw;
    border-radius: 5px;
  }
  .card-front {
    background-size: 25%;
  }
  .card-front .content-left-top {
    font-size: 8px;
    top: 1px;
    left: 2px;
  }
  .card-front .content-right-bottom {
    font-size: 8px;
    bottom: 1px;
    right: 2px;
  } 
  :is(.content-left-top, .content-right-bottom) img {
    width: 5px;
  }
}