:root {
    --white:#E8E8E6;
    --black:#000;
}

.card-back { 
    background: url("../../assets/card_back.png");
    height: 150px;
    width: 105px;
    border-radius: 10px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: transparent; /* it gives opportunity to not see the number of the cards when they closed*/
    margin-top: -100px; /*!?? it is not the best practice */
}
.card-front {
    height: 150px;
    width: 105px;
    border-radius: 10px;
    border: none;
    background-color: var(--white);
    float: right;
    cursor:pointer;
    background: url('../../assets/club.png') var(--white);
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    position: relative;
    margin-top: -100px; /*!?? it is not the best practice */
}
.card-front:active {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}
.card-front .content-left-top{
    top: 5px;
    left: 5px;
    position: absolute;
    font-size: 17px;
    font-weight: 700;
}
.card-front .content-right-bottom{
    bottom: 5px;
    right: 5px;
    position: absolute;
    font-size: 17px;
    font-weight: 700;
}