:root {
  --blackColor:#000;
  --primaryYellowColor: #ffb142;
  --white: #e8e8e6;
  --red: #e74c3c;
}
.game-area-top-containers > .card{
  margin-bottom: 0;
}
.game-area-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  justify-items: center;
}
.empty-card-area {
  height: 126px;
  width: 91px;
	border-radius: 10px;
	border: 2px solid var(--blackColor);
}
.game-area-top-containers {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
  position: relative;
}
:is(.score, .game-time, .highest-score) i { 
  color:var(--primaryYellowColor);
  font-size: 20px;
}
.score,
.game-time,
.highest-score { 
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}
.game-time {
  min-width: 125px;
}
.game-outputs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--primaryYellowColor);
  padding: 10px;
  gap: 50px;
}
.undo-move-button,
.hint-button {
  border-radius: 10px;
  color: var(--blackColor);
  padding:10px;
  background-color: var(--primaryYellowColor);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  font-style: italic;
}
.refresh-page-button {
  border-radius: 10px;
  color: var(--blackColor);
  padding:10px;
  background-color: var(--red);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  font-style: italic;
}
.undo-move-button:hover,
.refresh-page-button:hover,
.hint-button:hover {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
}
 
@media only screen and (min-width:800px) and (max-width: 1200px) {
  .empty-card-area {
    height: 86px;
    width: 61px;
    min-width: 61px;
  }
  .game-outputs {
    padding: 10px;
    gap: 10px;
  }
  .score,
  .game-time,
  .highest-score { 
    font-size: 13px;
  }
  .game-time {
    min-width: 100px;
  }
  :is(.score, .game-time, .highest-score) i { 
    font-size: 14px;
  }
  .undo-move-button,
  .refresh-page-button,
  .hint-button {
    padding: 5px;
    font-size: 13px;
  }
  .game-area-container {
    margin-left: 20px;
  }
}

@media only screen and (min-width:500px) and (max-width:800px) {
  .empty-card-area {
    height: 61px;
    width: 41px;
    border-radius: 5px;
  }
  .game-area-top-containers {
    gap: 5px;
    margin-right: 30px;
    margin-bottom: 25px;
  }
  .game-area-container {
    margin-left: 40px;
  }
  .game-outputs {
    padding: 10px;
    gap: 5px;
  }
  .score,
  .game-time,
  .highest-score { 
    font-size: 10px;
  }
  .game-time {
    min-width: 65px;
  }
  :is(.score, .game-time, .highest-score) i { 
    font-size: 10px;
  }
  .undo-move-button,
  .refresh-page-button,
  .hint-button {
    padding: 2px 5px;
    font-size: 10px;
  }
  .game-area-container {
    margin-left: 40px;
  }
}

@media only screen and (max-width:500px) {
  .empty-card-area {
    height: 46px;
    width: 31px;
    border-radius: 5px;
  }
  .game-area-container {
    margin-left: 40px;
  }
  .game-outputs {
    padding: 5px;
    gap: 5px;
  }
  .score,
  .game-time,
  .highest-score { 
    font-size: 8px;
  }
  :is(.score, .game-time, .highest-score) i { 
    font-size: 8px;
  }
  .undo-move-button,
  .refresh-page-button,
  .hint-button {
    padding: 2px 5px;
    font-size: 8px;
  }
  .game-area-top-containers {
    gap: 5px;
  }
  .game-area-container {
    margin-left: 50px;
  }
}