:root {
  --blackColor:#000;
  --primaryYellowColor: #ffb142;
  --white: #e8e8e6;
}

.game-area-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  justify-items: center;
}
.game-completed-card-area {
  height: 126px;
  width: 91px;
	border-radius: 10px;
	border: 2px solid var(--blackColor);
  margin-top: -95px;
}
.game-area-top-containers {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  position: relative;
}
:is(.score, .game-time, .highest-score) i { 
  color:var(--primaryYellowColor);
  font-size: 20px;
}
.score,
.game-time,
.highest-score { 
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
}
.game-outputs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--primaryYellowColor);
  padding: 10px;
  gap:50px;
}
.undo-move-button,
.refresh-page-button {
  border-radius: 10px;
  color: var(--blackColor);
  padding:10px;
  background-color: var(--primaryYellowColor);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .game-area-top-containers {
    gap: 5px;
    bottom: 0;
    margin-bottom: 20px;
    position: absolute;
  }
  .game-completed-card-area {
    height: 70px;
    width: 50px;
    border-radius: 10px;
    border: 2px solid var(--blackColor);
    margin-top: -95px;
  } 
}