:root {
  --blackColor:#000;
  --iconColor: #ffb142;
}

.card-holder-container {
  display: flex;
  flex-direction: column;
}
.game-area-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  justify-items: center;
  margin-top: 150px; /*************************************************************************************************/
}
.game-completed-card-area {
  height: 105px;
	width: 75px;
	border-radius: 10px;
	border: 2px solid var(--blackColor);
}
.game-area-top-containers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: center;
  justify-content: flex-end;
  margin: 30px 30px;
  margin-top: -50px;
}
.score i,
.gameTime i { 
  color:var(--iconColor);
  font-size: 20px;
}
.score,
.gameTime { 
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
}
.gameOutputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-bottom: 2px solid var(--iconColor);
  padding: 10px;
  margin-top: 10px;
}