.card-distrubitor-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20%); /*no grid area padding it fits content*/
}
.distubitor-card {
  height: 109px;
  width: 79px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: url("../../assets/spider-solitaire-card-back.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
